@import url('https://fonts.googleapis.com/css?family=Rubik');

.List {
  border: 1px solid #F62E5C;
  color: #4A4A4A;
  display: grid;
  font-family: 'Rubik', sans-serif;
}

.List-default {
  height: 200px;
}

.List-title {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #F62E5C;
  padding: 0;
  margin: 0;
}

.List-action {
  background-color: #F62E5C;
  text-align: center;
  height: 30.2px;
  grid-row-end: 999999;
}

.List-action-icon {
  padding-top: 10px;
}
.List-add-icon {
  padding-top: 5px;
}
